folder-heading {
    display: block;
    position: relative;
    height: 42px;
    -webkit-transition: height 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease, margin-top 0.3s ease, margin-bottom 0.3s ease;
    -moz-transition: height 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease, margin-top 0.3s ease, margin-bottom 0.3s ease;
    -ms-transition: height 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease, margin-top 0.3s ease, margin-bottom 0.3s ease;
    -o-transition: height 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease, margin-top 0.3s ease, margin-bottom 0.3s ease;
    transition: height 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease, margin-top 0.3s ease, margin-bottom 0.3s ease;
}
folder-heading:not(.readonly) {
    cursor: pointer;
}
folder-heading .glyphicon {
    top: 4px;
}
folder-heading input {
    border: none;
    color: inherit;
    background: none;
    outline: none;
    width: 80%;
    border-radius: 4px;
    padding-left: 4px;
    margin-left: -4px;
    cursor: pointer;
}
folder-heading input::selection {
    background: #ffffff;
    color: #002d62;
}
folder-heading input:focus {
    background: #d9edf7;
    color: #000000;
    box-shadow: 0 0 4px 0 #002d62 inset;
    cursor: text;
}
folder-heading.height-zero {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-top: none;
    border-bottom: none;
}
folder-heading.height-zero .glyphicon {
    display: none;
}
.dragArea,
.dropArea {
    touch-action: none;
}
.draggable {
    -ms-scroll-chaining: none;
}
@-ms-keyframes addColor {
    0% {
        color: #3c763d;
        background: #dff0d8;
    }
    100% {
        color: inherit;
        background: #ffffff;
    }
}
@-webkit-keyframes addColor {
    0% {
        color: #3c763d;
        background: #dff0d8;
    }
    100% {
        color: inherit;
        background: #ffffff;
    }
}
@keyframes addColor {
    0% {
        color: #3c763d;
        background: #dff0d8;
    }
    100% {
        color: inherit;
        background: #ffffff;
    }
}
.animated-add-color {
    -ms-animation: addColor 0.5s;
    -webkit-animation: addColor 0.5s;
    animation: addColor 0.5s;
}
folder li.list-group-item {
    border-radius: 3px !important;
}
.folder-drag-hover {
    /* ? */
}